.accordion summary {
  display: flex;
  position: relative;
  line-height: 1;
  padding: 1.2rem 0;
}

.accordion .summary__title {
  display: flex;
  flex: 1;
}

.accordion .summary__title + .icon-caret {
  height: calc(var(--font-heading-scale) * 0.6rem);
}

.accordion + .accordion {
  margin-top: 0;
  border-top: none;
}

.accordion {
  margin-top: 2.5rem;
  margin-bottom: 0;
}

.accordion__title {
  display: inline-block;
  max-width: calc(100% - 6rem);
  min-height: 1.6rem;
  margin: 0;
  word-break: break-word;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;

}

.accordion .icon-accordion {
  align-self: center;
  fill: rgb(var(--color-foreground));
  height: calc(var(--font-heading-scale) * 2rem);
  margin-right: calc(var(--font-heading-scale) * 1rem);
  width: calc(var(--font-heading-scale) * 2rem);
}

.accordion details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

.accordion__content {
  word-break: break-word;
  overflow-x: auto;
  max-height: 0;
  animation: slideUp 2s;
}

.accordion details[open] .accordion__content {
  max-height: 100%;
  animation: slideDown 2s;
}

.accordion__content img {
  max-width: 100%;
}

@keyframes slideDown {
  0% {max-height: 0;}
  100% {max-height: 100%;}
}

@keyframes slideUp {
  0% {max-height: 100%;}
  100% {max-height: 0;}
}